doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Page d'acceuil
        link(rel="stylesheet", href="style.css")
    body 
        header 
        
            img(src="img/logo.png", alt="img val")

            div
                h1 Home Page 
                p Our web site

            block content


            a(href="/store") Store page 
            a(href="/Inscription") Inscription page 

        script(src=process.env.BROWSER_REFRESH_URL)